In [ ]:
Homework week 9 DS-002

In [ ]:
# Question 1:  What are the dimensions of the matrices you will use to represent your model (inputs,
# parameters, and outputs)? How will you integrate the concept of mini - batch training?
#Answer: in my data i have 14 columns with data but i input 13 because the last one is target(input).

In [ ]:
# Question:As a first step, use MLP with 2 hidden
# layers
# containing 6 and 4 units respectively.

In [38]:
import numpy as np
def sigmoid(x):
    return 1 / (1 + np.exp(-x))


def sigmoid_derivative(x):
    return x * (1 - x)


class MLP:
    def __init__(self, input_size, hidden1_size, hidden2_size, output_size):
        self.weights_input_hidden1 = np.random.rand(input_size, hidden1_size)
        self.weights_hidden1_hidden2 = np.random.rand(hidden1_size, hidden2_size)
        self.weights_hidden2_output = np.random.rand(hidden2_size, output_size)

        self.bias_hidden1 = np.random.rand(hidden1_size)
        self.bias_hidden2 = np.random.rand(hidden2_size)
        self.bias_output = np.random.rand(output_size)

    def forward(self, x):
        hidden1_input = np.dot(x, self.weights_input_hidden1) + self.bias_hidden1
        hidden1_output = sigmoid(hidden1_input)

        hidden2_input = np.dot(hidden1_output, self.weights_hidden1_hidden2) + self.bias_hidden2
        hidden2_output = sigmoid(hidden2_input)

        output = np.dot(hidden2_output, self.weights_hidden2_output) + self.bias_output

        return output

input_size = 13
hidden1_size = 6
hidden2_size = 4
output_size = 1

mlp = MLP(input_size, hidden1_size, hidden2_size, output_size)
input_data = np.random.rand(1, input_size)
output = mlp.forward(input_data)
print("MLP Output:", output)

MLP Output: [[2.13872362]]

In [22]:
import torch
from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor, Lambda, Compose
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import *
from sklearn import preprocessing

In [4]:
df=pd.read_csv("heart_disease.csv", sep=";")
df

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
print(f'\033[94mNumber of records (rows) in the dataset are: {df.shape[0]}')
print(f'\033[94mNumber of features (columns) in the dataset are: {df.shape[1]}')
print(f'\033[94mNumber of duplicate entries in the dataset are: {df.duplicated().sum()}')
print(f'\033[94mNumber missing values in the dataset are: {sum(df.isna().sum())}')

Number of records (rows) in the dataset are: 303
Number of features (columns) in the dataset are: 14
Number of duplicate entries in the dataset are: 1
Number missing values in the dataset are: 0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      303 non-null    int64
 1   sex                      303 non-null    int64
 2   chest_pain_type          303 non-null    int64
 3   resting_blood_pressure   303 non-null    int64
 4   cholesterol              303 non-null    int64
 5   fasting_blood_sugar      303 non-null    int64
 6   rest_ecg                 303 non-null    int64
 7   max_heart_rate_achieved  303 non-null    int64
 8   exercise_induced_angina  303 non-null    int64
 9   st_depression            303 non-null    float64
 10  st_slope                 303 non-null    int64
 11  num_major_vessels        303 non-null    int64
 12  thalassemia              303 non-null    int64
 13  target                   303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [42]:
X=df.drop("target",axis=1)
y=df.target

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, stratify = y, shuffle = True, random_state=42)

In [48]:
scaled=StandardScaler()
X_train=scaled.fit_transform(X_train)
X_test=scaled.transform(X_test)

In [49]:
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(242, 13)
(242,)
(61, 13)
(61,)

In [50]:
y_cat_train = to_categorical(y_train)
y_cat_test = to_categorical(y_test)

In [53]:
print(y_train.shape)
print(y_test.shape)

(242,)
(61,)

In [54]:
print(y_cat_train.shape)
print(y_cat_test.shape)

(242, 2)
(61, 2)

In [80]:
model = Sequential()
model.add(Dense(128, input_dim=13, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [81]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [82]:
print(model.summary())

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               1792

 dense_10 (Dense)            (None, 128)               16512

 dense_11 (Dense)            (None, 2)                 258

=================================================================
Total params: 18,562
Trainable params: 18,562
Non-trainable params: 0
_________________________________________________________________
None

In [85]:
model.fit(x_train,y_cat_train,epochs=15,validation_data=(x_test,y_cat_test) )

Epoch 1/15
8/8 [==============================] - 0s 43ms/step - loss: 0.1771 - accuracy: 0.9545 - val_loss: 0.4531 - val_accuracy: 0.7869
Epoch 2/15
8/8 [==============================] - 0s 18ms/step - loss: 0.1665 - accuracy: 0.9504 - val_loss: 0.4674 - val_accuracy: 0.7869
Epoch 3/15
8/8 [==============================] - 0s 12ms/step - loss: 0.1560 - accuracy: 0.9628 - val_loss: 0.4593 - val_accuracy: 0.8033
Epoch 4/15
8/8 [==============================] - 0s 12ms/step - loss: 0.1498 - accuracy: 0.9669 - val_loss: 0.4758 - val_accuracy: 0.8033
Epoch 5/15
8/8 [==============================] - 0s 14ms/step - loss: 0.1379 - accuracy: 0.9711 - val_loss: 0.4821 - val_accuracy: 0.7869
Epoch 6/15
8/8 [==============================] - 0s 13ms/step - loss: 0.1287 - accuracy: 0.9752 - val_loss: 0.4940 - val_accuracy: 0.8033
Epoch 7/15
8/8 [==============================] - 0s 11ms/step - loss: 0.1205 - accuracy: 0.9752 - val_loss: 0.5076 - val_accuracy: 0.7869
Epoch 8/15
8/8 [==============================] - 0s 11ms/step - loss: 0.1121 - accuracy: 0.9752 - val_loss: 0.5200 - val_accuracy: 0.7869
Epoch 9/15
8/8 [==============================] - 0s 10ms/step - loss: 0.1055 - accuracy: 0.9793 - val_loss: 0.5174 - val_accuracy: 0.8033
Epoch 10/15
8/8 [==============================] - 0s 11ms/step - loss: 0.0970 - accuracy: 0.9835 - val_loss: 0.5423 - val_accuracy: 0.7705
Epoch 11/15
8/8 [==============================] - 0s 10ms/step - loss: 0.0910 - accuracy: 0.9835 - val_loss: 0.5487 - val_accuracy: 0.7869
Epoch 12/15
8/8 [==============================] - 0s 10ms/step - loss: 0.0855 - accuracy: 0.9835 - val_loss: 0.5465 - val_accuracy: 0.8197
Epoch 13/15
8/8 [==============================] - 0s 8ms/step - loss: 0.0783 - accuracy: 0.9876 - val_loss: 0.5658 - val_accuracy: 0.8033
Epoch 14/15
8/8 [==============================] - 0s 8ms/step - loss: 0.0729 - accuracy: 0.9917 - val_loss: 0.6040 - val_accuracy: 0.7869
Epoch 15/15
8/8 [==============================] - 0s 8ms/step - loss: 0.0672 - accuracy: 0.9917 - val_loss: 0.5877 - val_accuracy: 0.8033

In [86]:
print ("Evaluation of train:" )
scores_train = model.evaluate(x_train, y_cat_train)
print ("Evaluation of validation :" )
scores_test = model.evaluate(x_test, y_cat_test)

Evaluation of train:
8/8 [==============================] - 0s 3ms/step - loss: 0.0615 - accuracy: 0.9917
Evaluation of validation :
2/2 [==============================] - 0s 11ms/step - loss: 0.5877 - accuracy: 0.8033

In [87]:
predictions = model.predict(x_test)

prob_pred = np.argmax(predictions, axis=1)
prob_pred

print('Results for Categorical Model')
print(accuracy_score(y_test, prob_pred))
print(classification_report(y_test, prob_pred))

2/2 [==============================] - 0s 7ms/step
Results for Categorical Model
0.8032786885245902
              precision    recall  f1-score   support

           0       0.79      0.79      0.79        28
           1       0.82      0.82      0.82        33

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61